@media (min-width: 0px) and (max-width: 768.98px) { 
    .hide-manageuser {
        display: none;
    }

    .md-marginleft {
        margin-left: auto;
    }

    .md-button {
        width: 110px;
        height: 30px;
        font-size: 10px;
    }
 }

 @media (min-width: 0px) and (max-width: 1005.98px) { 
  

    .ld-marginleft {
        margin-left: auto;
    }

    .lg-marginbot {
        margin-bottom: 10px !important; 
    }

    .lg-marginbot-header {
        margin-bottom: 40px !important; 
    }

 }