@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');




* {
    
  
    font-family: 'Montserrat', sans-serif;}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout-hompage {
    min-height: 100vh;
    min-width: 100vw;
}

.layout-admin {
    min-height: 100vh;
    max-width: 100vw;

  
}